.filtro-nome-usuario {
  min-width: 200px;
  flex: 1;
  max-width: 320px;
  width: 100%;

  ::ng-deep .mat-mdc-form-field {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }

  ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 0.75rem;
  }
}

.w-full {
  width: 100%;
}

.mr-2 {
  margin-right: 0.5rem;
}
