<div [formGroup]="parentFormGroup" class="w-full">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ label }}</mat-label>
      <mat-icon matPrefix class="mr-2">lock</mat-icon>
  
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [formControlName]="controlName"
        autocomplete="current-password"
      />
  
      <button type="button" mat-icon-button matSuffix (click)="toggle()">
        <mat-icon>{{ hide() ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
  
      <mat-error *ngIf="parentFormGroup.get(controlName)?.touched && parentFormGroup.get(controlName)?.hasError('required')">
        Informe sua senha.
      </mat-error>
      <mat-error *ngIf="parentFormGroup.get(controlName)?.touched && parentFormGroup.get(controlName)?.hasError('minlength')">
        A senha deve ter pelo menos 6 caracteres.
      </mat-error>
    </mat-form-field>
  </div>
