@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$emerald-palette, 600);
$accent:  mat.define-palette(mat.$teal-palette, 500);
$warn:    mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
  typography: mat.define-typography-config(),
  density: 0
));

$dark-theme: mat.define-dark-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($light-theme);

.dark {
  @include mat.all-component-colors($dark-theme);
}