:host {
  display: inline-block;
}

button[mat-icon-button] {
  color: #dc2626;

  &:hover {
    color: #b91c1c;
    background: rgba(220, 38, 38, 0.1);
  }

  mat-icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}

:host-context(.dark) button[mat-icon-button] {
  color: #f87171;

  &:hover {
    color: #fca5a5;
    background: rgba(248, 113, 113, 0.15);
  }
}
